In [1]:
import pandas as pd
import numpy as np

In [2]:
ds = pd.read_csv('cars.csv')
ds.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

#mean

In [3]:
mn=ds['miles'].mean()
print("Mean is",mn)

Mean is 27.70404984423676

#mode

In [4]:
from statistics import mode
gd = mode(ds['gender'])
print("Mode is ",gd)

Mode is  1

#range

In [5]:
mx=max(ds['miles'])
mn=min(ds['miles'])
rg=mx-mn
print('Range  is ' , rg )

Range  is  87

#varience

In [6]:
var = ds['age'].var()
print("variance",var)

variance 151.06470165348668

#standard deviation

In [7]:
sd = ds['miles'].std()
print("standard deviation is",sd)

standard deviation is 13.37818119261587

#percentile value

In [8]:
q1=np.percentile(ds['miles'],25)
q2=np.percentile(ds['miles'],50)
q3=np.percentile(ds['miles'],75)

In [9]:
print("First Quartile:",q1)
print("First Quartile:",q2)
print("First Quartile:",q3)

First Quartile: 20.0
First Quartile: 25.0
First Quartile: 32.0

#Coefficient of variance

In [10]:
cov=sd/mn
print("Coefficient of variance is:",cov)

Coefficient of variance is: 1.337818119261587

#skewness

In [11]:
from scipy.stats import skew
sn=skew(ds['miles'])
print("Skewness is:",sn)

Skewness is: 2.1770830473784537

#Kurtosis

In [12]:
from scipy.stats import kurtosis
kt = kurtosis (ds['miles'])
print("Kurtosis is:",kt)

Kurtosis is: 6.977239746669079

#correlation of data

In [13]:
corelate=ds.corr()
print("correlation of data is :\n\n",corelate)

correlation of data is :

              age    gender     miles      debt    income     sales
age     1.000000 -0.000702  0.232399  0.218896  0.239644  0.352609
gender -0.000702  1.000000 -0.031355 -0.033181 -0.034317 -0.036350
miles   0.232399 -0.031355  1.000000  0.544791  0.422141  0.636676
debt    0.218896 -0.033181  0.544791  1.000000  0.491790  0.835541
income  0.239644 -0.034317  0.422141  0.491790  1.000000  0.674685
sales   0.352609 -0.036350  0.636676  0.835541  0.674685  1.000000

#sum of square

In [14]:
sos=np.sum((ds['miles']-mn)**2)
[print("sum of square is:",sos)]

sum of square is: 474011

[None]

#z-score

In [21]:
zs = ((ds['miles'])-mn)/sd
print(zs)

0      0.971731
1      1.270726
2      3.587932
3      1.121229
4      0.523240
         ...
958    0.074749
959    0.971731
960    1.345474
961    1.420223
962    0.373743
Name: miles, Length: 963, dtype: float64